body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
    background-color: #ffffff;
}

.nav-link {
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #2e2f42;
}

.nav-link:hover {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #404bbf;
}

.nav-link:focus {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #404bbf;
}

.web-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;  
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
}


.studio-logo {
    color: #2e2f42;
    font-family: "Raleway", sans-serif; 
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.adress-link {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-style: normal;
}

.adress-link.active {
    color: #404BBF;
}

.main-title {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    background-color: #2E2F42;
    line-height: 1.07;
}

.order-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
}

.order-button:hover {
    background-color: #404bbf;
}

.order-button:focus {
    background-color: #404bbf;
}

.section-type {
    background-color: #2E2F42;
}

.title-type {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2E2F42;
}

.text-type {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

.section-kind {
    background-color: #ffffff;
}

.section-team {
    background-color: #F4F4FD;
}

.title-kind {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2E2F42;
    line-height: 1.11;
    text-align: center;
}

.title-name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2E2F42;
    background-color: #ffffff;
}

.text-kind {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

.section-portfolio {
    background-color: #ffffff;
}

.text-fin {
    line-height: 1.5;
    color: #f4f4fd;
}

.section-fin {
    background-color: #2e2f42;
}

 .team-list {
    background-color: #ffffff;
 }

 .studio-logo-fin {
color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
 }

 .adress-style {
    font-style: normal;
 }

 .link-post {
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0,02em;
    color: #434455;
 }

  .link-post:hover {
      font-size: 16px;
      line-height: 1, 5;
      letter-spacing: 0, 02em;
      color: #404bbf;
  }

   .link-post:focus {
       font-size: 16px;
       line-height: 1, 5;
       letter-spacing: 0, 02em;
       color: #404bbf;
   }